[viewBag]
title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0
navigation_hidden = 1
==
<h1>Contact Us</h1>

<p>
	<input type="text" name="name" placeholder="Name" value="">
	<input type="text" name="email" placeholder="Email" value="">
	<button>Send</button>
</p>