[viewBag]
title = "Projects"
url = "/projects"
layout = "default"
is_hidden = 0
navigation_hidden = 0
==
<h1>Projects</h1>

<ul>
	<li>Lorem ipson 1</li>
	<li>Lorem ipson 2</li>
	<li>Lorem ipson 3</li>
</ul>