[staticPage]
useContent = 1
default = 1

[staticMenu topMenuLeft]
code = "top-menu-left"

[staticMenu topMenuRight]
code = "top-menu-right"

[staticMenu blogCategories]
code = "blog-categories"
==
<!doctype html>
<html lang="en">
    <head>{% component 'staticMenu' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>My blog theme</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Static pages demo</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    {% partial 'menu-items' items=topMenuLeft.menuItems class='mr-auto' %}
                    {% partial 'menu-items' items=topMenuRight.menuItems %}
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="row">
                <div class="col-8">
                    {% page %}
                </div>{% component 'staticPage' %}
                <div class="col">
                    <div class="blog-categories-sidebar">
                        <h4>Blog categories</h4>
                        {% partial 'menu-items' items=blogCategories.menuItems class='flex-column' %}
                    </div>
                </div>
            </div>
        </main><!-- /.container -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>